.App {
  text-align: center;
}

.items-container {
  max-height: 59vh;
  overflow-y: scroll;
  border: 1px solid #999;
}

.loading {
  margin: 20% auto;
  width: 50vw;
}

.MuiCircularProgress-svg {
  width: 50%;
}
